# citations

https://scikit-learn.org/stable/modules/naive_bayes.html

https://medium.com/@awantikdas/a-comprehensive-naive-bayes-tutorial-using-scikit-learn-f6b71ae84431

In [1]:
import numpy as np #for numerical operations
import pandas as pd #for dataframes
import matplotlib.pyplot as plt #for plotting data
import seaborn as sns
from sklearn import datasets #sklearn datasets needed (IRIS and Digits)

In [4]:
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics #calculate accuracy of model
%matplotlib inline 
#allows charts to be displayed within our notebook

In [3]:
#load the dataset to be used
iris=datasets.load_iris()

#(data, columns=data.feature_names)
df=pd.DataFrame(data=np.c_[iris['data'],iris['target']],columns=iris['feature_names']+['target'])
df.head() #print data

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0

In [10]:
model=GaussianNB()
model.fit(iris.data,iris.target)
print(model)


model.score(iris.data,iris.target)

GaussianNB()

0.96