# citations

https://stackabuse.com/introduction-to-neural-networks-with-scikit-learn/

In [2]:
import numpy as np #for numerical operations
import pandas as pd #for dataframes
import matplotlib.pyplot as plt #for plotting data
import seaborn as sns
from sklearn import datasets #sklearn datasets needed (IRIS and Digits)

In [23]:
from sklearn import metrics #calculate accuracy of model
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import classification_report, confusion_matrix

%matplotlib inline 
#allows charts to be displayed within our notebook

In [10]:
# Location of dataset
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

# Assign colum names to the dataset
names = ['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'Class']

# Read dataset to pandas dataframe
df = pd.read_csv(url, names=names)
df.head()

   sepal-length  sepal-width  petal-length  petal-width        Class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [11]:
# Assign data from first four columns to X variable
X = df.iloc[:, 0:4]

# Assign data from first fifth columns to y variable
y = df.select_dtypes(include=[object])

y.head()

         Class
0  Iris-setosa
1  Iris-setosa
2  Iris-setosa
3  Iris-setosa
4  Iris-setosa

In [15]:
# encode unique classes into numerical values

le = preprocessing.LabelEncoder()

y = y.apply(le.fit_transform)

#check
y.Class.unique()

array([0, 1, 2], dtype=int64)

In [25]:
#avoid overfitting by splitting dataset into training and test
# there will be 20% test data and the rest training set

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

In [19]:
#Perform feature scaling

scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [29]:
#train and make predictions

mlp = MLPClassifier(hidden_layer_sizes=(10, 10, 10), max_iter=1000)
mlp.fit(X_train, y_train.values.ravel())

predictions = mlp.predict(X_test)


print(confusion_matrix(y_test,predictions))
print(classification_report(y_test,predictions)) #train_test_split is random, so rerunning that cell can have a positive or negative effect

[[11  0  0]
 [ 0 11  1]
 [ 0  0  7]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        11
           1       1.00      0.92      0.96        12
           2       0.88      1.00      0.93         7

    accuracy                           0.97        30
   macro avg       0.96      0.97      0.96        30
weighted avg       0.97      0.97      0.97        30